{% extends "Layout.html" %}
{% block title %} ML Linear Regression using Scikit-learn {% endblock title %}
{% block content %}
  <h1> ML Linear Regression using Scikit-learn</h1>
    <form action='../' method='GET'>
<table title = "SmartPhone Price" BORDER="1">
    <tr>
    <th>Year</th>
    <th>Price</th>
    </tr>
    <tr>
        <td>2010</td>
        <td>120000</td>
    </tr>
     <tr>
        <td>2011</td>
        <td>140000</td>
    </tr>
</table>

</form>
<img src="../../temp/pic.png"/>
    Linear Regression Plotting

<button type='Main-btn'>Back</button>
{% endblock content %}